<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE EYE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      .test {
        object-fit: cover;
        border-radius: 50%;
      },
      .column {
        display: flex;
      }
    </style>
  </head>

  <body>
    <script type="text/x-template" id="the-event-box-template">
      <div
        class="box"
      >
        <div
          class="has-text-centered has-text-weight-bold"
        >
        EVENTS
        </span>
        <the-event-box-list
          :events="events"
          :selectedEvent="selectedEvent"
          :analysing="analysing"
          @clickEvent="updateSelectedEvent"
          @delete="deleteEvent"
          @analyse="analyseEvent"
        ></the-event-box-list>

        <the-event-box-upload-form
          @uploaded="uploadWrapper"
        ></the-event-box-upload-form>
      </div>
    </script>

    <script type="text/x-template" id="the-event-box-list-template">
        <table
          class="table  is-fullwidth"
        >
            <tbody>
            <tr
              v-for="event in events"
              :key="event.id"
            >
                <td
                  :class="{'is-selected': isSelected(event), 'is-warning': needsAnalysis(event)}"
                >
                  <button
                    class="button is-rounded"
                    :class="{'is-primary': isSelected(event), 'is-inverted': isSelected(event)}"
                    @click="$emit('clickEvent', event)"
                  >
                  ${event.name}
                  </button>

                  <button
                    class="button is-pulled-right is-rounded is-warning"
                    :class="{'is-loading': analysing}"
                    v-if="isSelected(event)"
                    @click="$emit('analyse', event)"
                  >
                    <span class="icon">
                      <i class="fas fa-eye"></i>
                    </span>
                  </button>

                  <button
                    class="button is-pulled-right is-rounded is-danger is-inverted"
                    v-if="isSelected(event)"
                    @click="$emit('delete', event.id)"
                  >
                    <span class="icon">
                      <i class="fas fa-trash"></i>
                    </span>
                  </button>
                </td>
            </tr>
          </tbody>
        </table>
    </script>

    <script type="text/x-template" id="the-event-box-upload-form-template">
      <div
        class="columns"
      >
        <div class="file column is-narrow">
          <label class="file-label">
            <input
              class="file-input"
              type="file"
              ref="file"
              @change="fetchFile"
            >
            <span class="file-cta">
              <span class="file-label">
                <i class="fas fa-upload"></i>
              </span>
            </span>
          </label>
        </div>
        <div class="column is-narrow field has-addons">
          <div class="control">
            <input
              class="input"
              v-model="name"
              placeholder="Name"
            >
          </div>
          <div
            class="control"
          >
            <a
              :class="{'is-loading': uploading, 'is-primary': (file && name)}"
              :disabled="!(file && name)"
              class="button"
              @click="upload"
            >
              Submit
            </a>
          </div>
        </div>
      </div>

    </script>

    <script type="text/x-template" id="the-information-box-template">
      <div
        class="box tile is-vertical is-ancestor"
      >
          <div
            class="tile is-parent"
          >
            <the-information-box-video
              :video="selectedVideo"
            ></the-information-box-video>
          </div>

          <div
            class="tile is-parent"
          >
            <the-information-box-guest-grid
              :selectedGuests="selectedGuests"
              :selectedVideo="selectedVideo"
              @delete="deleteGuest"
            ></the-information-box-guest-grid>
          </div>
      </div>
    </script>

    <script type="text/x-template" id="the-information-box-guest-grid-template">
      <div
        class="tile is-child columns is-centered is-multiline"
      >
        <div
          class="column is-narrow has-text-centered has-text-weight-semibold"
            v-for="guest in selectedGuests"
            :key="guest.name"
        >
              <img
                class="image test is-128x128"
                @click="$emit('delete', guest.name)"
                :src="guest.photo"
              >
                  ${guest.name}
        </div>
      </div>
    </script>

    <script type="text/x-template" id="the-information-box-video-template">
      <div
        v-if="video"
        :key="video"
        style="position: relative;padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;background: black"
        class="tile is-child"
      >
        <video
          style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
          controls
        >
          <source :src="video" type="video/mp4">
        </video>
      </div>
    </script>

    <!-- VUE APP -->
    <div class="" id="app">
      <!-- hero -->
      <section class="hero is-small is-dark is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              THE EYE OF PROVIDENCE
            </h1>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-narrow">
              <the-event-box
                :selected-event="selectedEvent"
                @select="selectEvent"
                @uploaded="updateGuests()"
              >
              </the-event-box>
            </div>

            <div class="column">
              <the-information-box
                ref="informationBox"
                :selected-event="selectedEvent"
              >
              </the-information-box>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- VUE SRC -->
    <script type="application/javascript">


      Vue.component('the-event-box-upload-form', {
        template: '#the-event-box-upload-form-template',
        delimiters: ['${','}'],
        data () {
          return {
            name: null,
            file: null,
            uploading: false,
            fileType: null
          }
        },
        methods: {
          fetchFile: function() {
            this.file = this.$refs.file.files[0]
            this.fileType = this.file.type.split("/")[0]
          },
          upload: async function() {
            this.uploading = true
            endpoint = null

            let formData = new FormData()
            formData.append('name', this.name)

            if (this.fileType === "image"){
              formData.append('photo', this.file)
              endpoint = 'guest'
            } else if (this.fileType === "video"){
              formData.append('video', this.file)
              endpoint = 'event'
            } else {
              alert("try again")
            }

            try{
              await axios.post( '/api/' + endpoint + '/',
                formData,
                {
                  headers: {
                    'Content-Type': 'multipart/form-data'
                  }
                }
              )
            } catch(error) {
              console.error(error)
            }
            this.file=null
            this.name=null
            this.uploading = false
            this.$emit("uploaded")
          },
        },
      })


      Vue.component('the-event-box', {
        template: '#the-event-box-template',
        delimiters: ['${','}'],
        props: {
          selectedEvent: Object
        },
        data () {
          return {
            events: [],
            analysing: false
          }
        },
        mounted () {
          this.getEvents()
        },
        methods: {
          getEvents: async function() {
            try {
              const response = await axios.get('/api/event')
              this.events = response.data
            } catch (error) {
              console.error(error)
            }
          },
          deleteEvent: async function(id) {
            const response = await axios.delete('/api/event/' + id)
            this.unselectEvent()
            this.getEvents()
          },
          analyseEvent: async function(event) {
            this.analysing = true
            const response = await axios.get('/api/event/' + event.id + '/analyse')
            this.analysing = false
            this.unselectEvent()
            this.getEvents()
          },
          updateSelectedEvent: function(event) {
            if (this.selectedEvent == event){
              this.unselectEvent()
            } else {
              this.$emit('select', event)
            }
          },
          unselectEvent: function(){
              this.$emit('select', {})
          },
          uploadWrapper: function(){
              this.$emit('uploaded')
              this.getEvents()
          }
        },
      })

      Vue.component('the-event-box-list', {
        template: '#the-event-box-list-template',
        delimiters: ['${','}'],
        props: {
          events: Array,
          selectedEvent: Object,
          analysing: Boolean
        },
        methods: {
          isSelected: function(event){
            return this.selectedEvent.id == event.id
          },
          isAnalysed: function(event){
            return this.selectedEvent.potential_faces === null
          },
          needsAnalysis: function(event){
            return (event.potential_faces === null) || (event.known_guests.length === 0)
          }
        }
      })

      Vue.component('the-information-box', {
        template: '#the-information-box-template',
        delimiters: ['${','}'],
        data () {
          return {
            guests: []
          }
        },
        props: {
          selectedEvent: Object,
        },
        computed: {
          selectedGuests: function() {
            if(this.selectedVideo == null){
              return this.guests
            }
            return this.getSelectedGuests()
          },
          selectedVideo: function() {
            return this.selectedEvent.video
          },
        },
        mounted () {
          this.getGuests()
        },
        methods: {
          getGuests: async function() {
            try {
              const response = await axios.get('/api/guest')
              this.guests = response.data
            } catch (error) {
              console.error(error)
            }
          },
          getSelectedGuests: function() {
            //jesus christ
            var list1 = this.guests
            var list2 = this.selectedEvent.known_guests
            var isUnion = true
            var result = [];

            for (var i = 0; i < list1.length; i++) {
              var item1 = list1[i]
              found = false;

              for (var j = 0; j < list2.length && !found; j++) {
                found = item1.name === list2[j];
              }

              if (found === !!isUnion) {
                result.push(item1);
              }
            }
            return result;
          },
          deleteGuest: async function(name) {
            const response = await axios.delete('/api/guest/' + name)
            this.getGuests()
          },
        }
      })

      Vue.component('the-information-box-guest-grid', {
        template: '#the-information-box-guest-grid-template',
        delimiters: ['${','}'],
        props: {
          selectedGuests: Array,
          selectedVideo: String,
        },
        computed: {
          isVideoSelected: function() {
            return this.selectedVideo == null
          }
        },
      })

      Vue.component('the-information-box-video', {
        template: '#the-information-box-video-template',
        delimiters: ['${','}'],
        props: {
          video: String,
        },
      })

      new Vue({
        el: '#app',
        delimiters: ['${','}'],
        data () {
          return {
            selectedEvent: {},
          }
        },
        methods: {
          selectEvent: function(event) {
            this.selectedEvent = event
          },
          updateGuests: function() {
            this.$refs.informationBox.getGuests()
          }
        },
      })
    </script>
  </body>
</html>
