<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE EYE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style>
      .test {
        object-fit: cover;
        border-radius: 50%;
      },
    </style>
  </head>

  <body>
    <script type="text/x-template" id="the-event-box-template">
      <div class="box">
        <the-event-box-list
          :events="events"
          :selectedEvent="selectedEvent"
        ></the-event-box-list>

        <create-event-form @uploaded="getEvents"></create-event-form>

      </div>
    </script>

    <script type="text/x-template" id="the-event-box-list-template">
      <table class="table is-hoverable is-fullwidth is-striped">
          <tbody>
          <tr v-for="event in events">
              <td
                :class="{'is-selected': selectedEvent.id === event.id}"
                @click="returnEvent(event)"
              >
                ${event.name}

                <button
                  v-if="selectedEvent.potential_faces === null && selectedEvent.id === event.id"
                  class="button is-rounded is-warning is-inverted"
                  @click="analyseEvent"
                >
                  <span class="icon">
                    <i class="fas fa-eye"></i>
                  </span>
                </button>

                <button
                  v-if="selectedEvent.id === event.id"
                  class="button is-pulled-right is-rounded is-danger is-inverted"
                  @click="deleteEvent"
                >
                  DEL
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/x-template" id="the-information-box-template">
      <div class="box columns is-multiline is-mobile">
        <the-information-box-video
          :video="selectedVideo"
        >
        </the-information-box-video>

        <the-information-box-guest-grid
          :guests="guests"
          :selectedGuests="selectedGuests"
          :selectedVideo="selectedVideo"
        >
        </the-information-box-guest-grid>

        <create-guest-form
          @uploaded="getGuests"
        ></create-guest-form>
      </div>
    </script>

    <script type="text/x-template" id="the-information-box-guest-grid-template">
      <div class="tile is-child">
        <template
          v-if="isVideoSelected"
        >
          <figure
            v-for="guest in guests"
            class="column is-one-quarter">
              <img class="image test is-128x128" :src="guest.photo">
          </figure>
        </template>

        <template
          v-else
        >
          <figure
            v-for="guest in guests"
            class="column is-one-quarter">
              <img v-if="selectedGuests.includes(guest.name)" class="image test is-128x128" :src="guest.photo">
          </figure>
        </template>
      </div>
    </script>

    <script type="text/x-template" id="the-information-box-video-template">
      <div
        v-if="video"
        :key="video"
        class="tile is-child"
        style="position: relative;padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;background: black"
      >
        <video
          style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
          controls
        >
          <source :src="video" type="video/mp4">
        </video>
      </div>
    </script>

    <script type="text/x-template" id="create-event-form-template">
      <div class="container">
        <div class="">
          <input class="input" v-model="newEvent.name" placeholder="Event Name">
          <input class="file"type="file" ref="video" @change="fetchVideo">

          <button :class="{'is-loading': uploading}"class="button is-primary" @click="uploadEvent">
            Submit
          </button>
        </div>
      </div>
    </script>


    <script type="text/x-template" id="create-guest-form-template">
      <div class="container">
        <div class="">
          <input class="input" v-model="newGuest.name" placeholder="Guest Name">
          <input class="file" type="file" ref="photo" @change="fetchPhoto">

          <button :class="{'is-loading': uploading}"class="button is-primary" @click="uploadGuest">
            Submit
          </button>
        </div>
      </div>
    </script>

    <!-- VUE APP -->
    <div class="" id="app">
      <!-- hero -->
      <section class="hero is-small is-dark is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              THE EYE OF PROVIDENCE
            </h1>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-one-third">
              <the-event-box
                @select="selectEvent"
              >
              </the-event-box>
            </div>

            <div class="column">
              <the-information-box
                :selected-event="selectedEvent"
                >
              </the-information-box>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- VUE SRC -->
    <script type="application/javascript">

      Vue.component('create-event-form', {
        template: '#create-event-form-template',
        delimiters: ['${','}'],
        data () {
          return {
            newEvent: {},
            uploading: false,
          }
        },
        methods: {
          fetchVideo: function() {
            this.newEvent.video = this.$refs.video.files[0]
          },
          uploadEvent: async function() {
            this.uploading = true;

            let formData = new FormData();
            formData.append('name', this.newEvent.name);
            formData.append('video', this.newEvent.video);

            try{
              await axios.post( '/api/event/',
                formData,
                {
                  headers: {
                    'Content-Type': 'multipart/form-data'
                  }
                }
              )
            } catch(error) {
              console.error(error)
            }
            this.uploading = false
            this.newEvent = {}
            this.$emit("uploaded")
          },
        },
      });


      Vue.component('create-guest-form', {
        template: '#create-guest-form-template',
        delimiters: ['${','}'],
        data () {
          return {
            newGuest: { 'name': null, 'photo': null },
            uploading: false,
          }
        },
        methods: {
          fetchPhoto: function() {
            this.newGuest.photo = this.$refs.photo.files[0]
          },
          uploadGuest: async function() {
            this.uploading = true;

            let formData = new FormData();
            formData.append('name', this.newGuest.name);
            formData.append('photo', this.newGuest.photo);

            try{
              await axios.post( '/api/guest/',
                formData,
                {
                  headers: {
                    'Content-Type': 'multipart/form-data'
                  }
                }
              )
            } catch(error) {
              console.error(error)
            }
            this.$emit("uploaded")
            this.uploading = false
          },
        },
      });

      Vue.component('the-event-box', {
        template: '#the-event-box-template',
        delimiters: ['${','}'],
        data () {
          return {
            events: [],
            selectedEvent: {},
          }
        },
        mounted () {
          this.getEvents()
        },
        methods: {
          getEvents: async function() {
            try {
              const response = await axios.get('/api/event');
              this.events = response.data;
            } catch (error) {
              console.error(error);
            }
          },
          deleteEvent: async function() {
            const response = await axios.delete('/api/event/' + this.selectedEvent.id)
            this.selectedEvent = {}
            this.getEvents()
          },
          analyseEvent: async function() {
            const response = await axios.get('/api/event/' + this.selectedEvent.id + '/analyse')
            this.getEvents()
          },
          returnEvent: function(event) {
            if (this.selectedEvent == event){
              this.selectedEvent = {}
            } else {
              this.selectedEvent = event;
            }
              this.$emit('select', this.selectedEvent)
          }
        },
      })

      Vue.component('the-event-box-list', {
        template: '#the-event-box-list-template',
        delimiters: ['${','}'],
        data () {
          return {
            events: [],
            selectedEvent: {},
          }
        },
        mounted () {
          this.getEvents()
        },
        methods: {
          getEvents: async function() {
            try {
              const response = await axios.get('/api/event');
              this.events = response.data;
            } catch (error) {
              console.error(error);
            }
          },
          deleteEvent: async function() {
            const response = await axios.delete('/api/event/' + this.selectedEvent.id)
            this.selectedEvent = {}
            this.getEvents()
          },
          analyseEvent: async function() {
            const response = await axios.get('/api/event/' + this.selectedEvent.id + '/analyse')
            this.getEvents()
          },
          returnEvent: function(event) {
            if (this.selectedEvent == event){
              this.selectedEvent = {}
            } else {
              this.selectedEvent = event;
            }
              this.$emit('select', this.selectedEvent)
          }
        },
      })

      Vue.component('the-information-box', {
        template: '#the-information-box-template',
        delimiters: ['${','}'],
        props: {
          selectedEvent: Object,
        },
        computed: {
          selectedGuests: function() {
            return this.selectedEvent.known_guests
          },
          selectedVideo: function() {
            return this.selectedEvent.video
          }
        },
        data () {
          return {
            guests: []
          }
        },
        mounted () {
          this.getGuests()
        },
        methods: {
          getGuests: async function() {
            try {
              const response = await axios.get('/api/guest');
              this.guests = response.data;
            } catch (error) {
              console.error(error);
            }
          },
        }
      })

      Vue.component('the-information-box-guest-grid', {
        template: '#the-information-box-guest-grid-template',
        delimiters: ['${','}'],
        props: {
          guests: Array,
          selectedGuests: Array,
          selectedVideo: String,
        },
        computed: {
          isVideoSelected: function() {
            return this.selectedVideo == null
          }
        },
      })

      Vue.component('the-information-box-video', {
        template: '#the-information-box-video-template',
        delimiters: ['${','}'],
        props: {
          video: String,
        },
      })

      new Vue({
        el: '#app',
        delimiters: ['${','}'],
        data () {
          return {
            selectedEvent: {},
          }
        },
        methods: {
          getGuests: async function() {
            try {
              const response = await axios.get('/api/guest');
              this.guests = response.data;
            } catch (error) {
              console.error(error);
            }
          },
          selectEvent: function(event) {
            this.selectedEvent = event
          },

        },
      });
    </script>
  </body>
</html>
